<!--收支预算表-->
<div class="bloc" ng-controller="form03Controller">
    <div class="title">
        <div class="float_left">
            预算对比表
            <select class="form03_select_button ml10" ng-model="month" ng-click="select(month)">
                <option value="1">1月份</option>
                <option value="2">2月份</option>
                <option value="3">3月份</option>
                <option value="4">4月份</option>
                <option value="5">5月份</option>
                <option value="6">6月份</option>
            </select>
        </div>
        <div class="float_right">
            <a href="#/individual/setting06">预算设置</a>
        </div>
    </div>
    <!--{{message}}-->
    <!-- 选择块-->
    <div class="content clearfix">
        <div class="bloc left">
            <div class="title">
                支出预算对比表
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-lg-12 col-sm-12" id="line-chart-put">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <!--<canvas id="bar" class="chart chart-bar" data="data" labels="labels" series="series"></canvas>-->
                                <canvas id="line" class="chart chart-line chart-xl" data="data" labels="labels" legend="true" click="onClick" series="series"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bloc right">
            <div class="title">
                收入预算对比表
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-lg-12 col-sm-12" id="line-chart" >
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <!--<canvas id="bar02" class="chart chart-bar" data="data02" labels="labels02" series="series02"></canvas>-->
                                <canvas id="line02" class="chart chart-line chart-xl" data="data02" labels="labels02" legend="true" click="onClick" series="series02"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
